[submodule "deps/musl"]
	path = deps/musl
	url = git://git.musl-libc.org/musl
[submodule "deps/protobuf"]
	path = deps/protobuf
	url = https://github.com/protocolbuffers/protobuf.git
[submodule "deps/umurmur"]
	path = deps/umurmur
	url = https://github.com/umurmur/umurmur.git
